* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 10%;
    border: none;
    box-shadow: 0 0 2px rgb(200,100,0 );
    font-size: 25px;
    color: red;
    background-color: yellow;
}

#reset-btn ,#new-btn{
    padding: 10px;
    font-size: 15px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

p {
    font-size: 30px;
    color: yellow;
}

.message {
    /* height: 5vh; */
    margin: 10px;
}

.hide {
    display: none;
}